@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
  background-image: url(Assets/BACKGROUND.png);
  background-attachment: fixed;
  
}
.reservation-form {
    width: 50%; 
     margin: 0 auto; 
     background: rgba( 255, 255, 255, 0.25 ); 
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
     backdrop-filter: blur( 4px ); 
     -webkit-backdrop-filter: blur( 4px ); 
     border-radius: 10px; 
     border: 1px solid rgba( 255, 255, 255, 0.18 );
     padding: 20px;

  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="date"],
  select {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
  }
  
  input[type="button"] {
    margin-top: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }

#completed{
    margin: 0 auto;
    display: none;
    text-align: center;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 2px 4px 12px #ccc;
    margin-bottom: 40px;
    background: rgba( 255, 255, 255, 0.25 ); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
    backdrop-filter: blur( 4px ); 
    -webkit-backdrop-filter: blur( 4px ); 
    border-radius: 10px; 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}
#completed h1{
    color: white;

}
#completed h3{
    font-size: 24px;
    color: white;
}